# Spotify Credentials
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

# Google Gemini AI
GOOGLE_GENERATIVE_AI_API_KEY=

# NextAuth Config
NEXTAUTH_URL=http://127.0.0.1:3000
NEXTAUTH_SECRET= # generate random string